.courses {
  list-style: none;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  padding: 0;
}

.courses > li {
  padding-bottom: 2em;
  padding-top: 2em;
}

.courses > li + li {
  border-top: 1px solid #b7b7b7;
}

.courses > li:first-child {
  margin-top: 0;
}

.courses > li:last-child {
  margin-bottom: 0;
}
