.tooltip {
  background-color: #282828;
  border-radius: 999em 999em 999em 0;
  bottom: 130%;
  font-size: 0.75rem;
  left: 50%;
  padding: 0.25em 1em;
  position: absolute;
  white-space: nowrap;
}

.tooltip::before {
  border: 0.25em solid #282828;
  border-bottom-color: transparent;
  border-right-color: transparent;
  content: '';
  left: 0;
  position: absolute;
  top: 100%;
}
